<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ABOUT US</title>
  <link rel="stylesheet" href="/stylesheets/about.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>

  <!-- Logo -->
  <div id="logo">
    <h1>
      PORTFOLIO
    </h1>
  </div>

  <div id="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/project">Project</a></li>
      <li><a href="/about">About US</a></li>
    </ul>


  </div>

  <div id="main-img-about">
    <img src="/Images/about.jpg" alt="">
  </div>

  <div id="scr-about">
    <h2>SCROLL DOWN</h2>
  </div>

  <div class="workeduc-content">

    <h1>Experience</h1>

    <span class="year"><i class='bx bxs-calendar'></i>2020-2024</span>
    <h3>Freelance-Web & App Developer</h3>
    <p>
      I have 3.5 years of experience in full stack App & <br>
      Website develoment, I have fully skilled person <br>
      from both frontend & backend development
    </p>

    <br>

    <span class="year"><i class='bx bxs-calendar'></i>2020-2023</span>
    <h3>Dk Recruitment-internship</h3>
    <p>
      I have complete 3 months of intership in Dk <br>
      recruitment as full stack Website developer, <br>
      I have fully skilled person from both frontend & <br>
      backend development
    </p>

    <br>

    <h1>Education</h1>
    <p>
      I am student of BS four year IT in punjab university
    </p>
    <h3>Duration</h3>
    <span class="year"><i class='bx bxs-calendar'></i>2022-2026</span>

  </div>

  <div id="img-about">
    <img src="/Images/Pi.png" alt="">
  </div>

</body>

</html>