<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
   
</head>
<body>
   

<!-- Logo -->
<div id="logo">
    <h1>
        PORTFOLIO
    </h1>
</div>


    <!-- Navbar -->
    <div id="navbar">
       <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/project">Project</a></li>
        <li><a href="/about">About US</a></li>
       </ul>


    </div>
  
      <div id="maintext">
        
        <h2>
            Welcome to my portfolio 
        </h2>
        </div>
        <div id="text-container" >  </div>

        <!-- Personal Image -->
        <div id="pi">
           <img src="/Images/pi 2.jpg" alt="">
        </div>

        <div class="social-media">
            <a href="https://www.facebook.com/profile.php?id=100008469135978&mibextid=eHce3h"><i class='bx bxl-facebook'></i></a>
            <a href="http://www.youtube.com/@Professional_Mentor"><i class='bx bxl-youtube'></i></a>
            <a href="https://www.linkedin.com/in/m-ali-butt-871853272?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class='bx bxl-linkedin'></i></a>
            <a href="https://www.instagram.com/ali_butt_9944?igsh=MzFscndlZXFoNnhu"><i class='bx bxl-instagram'></i></a>
          </div>
  


        <div id="bt1">
         <!-- Button Download cv -->
        <a href ="https://drive.google.com/file/d/112qY29FeggY-NTTBg4qSDAbqJ73sltzv/view?usp=drive_link" class="main-btn">Download Cv</a>
        
        <!-- Button Contact Details -->
        <a href ="" class="main-btn">Contact Details</a>
        </div>
        

    <script src="/javascripts/script.js"></script>
</body>
</html>