<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJECT</title>
    <link rel="stylesheet" href="/stylesheets/project.css">
</head>
<body>
    <!-- Logo -->
<div id="logo">
    <h1>
        PORTFOLIO
    </h1>
</div>


    <!-- Navbar -->
    <div id="navbar">
       <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/project">Project</a></li>
        <li><a href="/about">About US</a></li>
       </ul>


    </div>

    <div id="main-image">
        <img src="Images/projects.jpg" alt="">
    </div>

    <div id="main-heading">
        <h1>C++ Course on youtube</h1>
    </div>

    <div class="videos">
        <iframe width="430" height="300" src="https://www.youtube.com/embed/MXm_eyeuZyE?si=GqvHZ2ZxDRHJTKEF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="430" height="300" src="https://www.youtube.com/embed/rN8d0XqsyeM?si=FLOWI1WR2KU0rybX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="430" height="300" src="https://www.youtube.com/embed/fa3a49hxcpk?si=0h0hQjb2QRHQ3x5X" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
     
    <div id="web">
        <h2>Fullstack website developement</h2>
        <p>Languages, I have used build websites</p>
        <div class="images-proj">
            <img src="/Images/img1.png" alt="">
            <img src="/Images/img 2.avif" alt="">
            <img src="/Images/img 3.jpg" alt="">
        </div>
        
    </div>
</body>
</html>