<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SERVICES</title>
    <!-- Bexicon icons CDN-->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
       <link rel="stylesheet" href="/stylesheets/services.css" />
  </head>
  <body>

     
   <!-- Logo -->
<div id="logo">
    <h1>
        PORTFOLIO
    </h1>
</div>
   
    <div id="navbar">
        <ul>
         <li><a href="/">Home</a></li>
         <li><a href="/contact">Contact</a></li>
         <li><a href="/services">Services</a></li>
         <li><a href="/project">Project</a></li>
         <li><a href="/about">About US</a></li>
        </ul>
 
 
     </div>


      <section>
      <div class="row">
        <h2 class="section-heading">Our Services</h2>
      </div>
      <div class="row">
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class='bx bx-code-alt'></i>
            </div>
            <h3>FULL STACK WEBSITE DEVELOPER</h3>
            <p>
              I have developed full stack website with
               Fully customized, Lighting speed,
               High ranked. Ihave an 3 years experience
              seo  
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class='bx bx-code-alt'></i>
            </div>
            <h3>App developemnt</h3>
            <p>
              I have developed react native or flutter apps 
              with Fully customized, Lighting speed,
               High ranked. I have an 1.5 years experience
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class='bx bxs-videos'></i>
            </div>
            <h3>Video Editing</h3>
            <p>
              I have edited videos like youtube, 
              event or all types of videos on industry 
              perefferd software premier pro
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class='bx bxl-deezer' ></i>
            </div>
            <h3>Audio editing</h3>
            <p>
              I have edited audios of videos like youtube, 
              event or all types of videos on industry perefferd
              software premier pro
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class='bx bx-code-curly'></i>
            </div>
            <h3>Programmer</h3>
            <p>
              Please Check my programming videos on youtube that i have some days ago
              link on first page
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class='bx bx-search-alt'></i>
            </div>
            <h3>Seo</h3>
            <p>
              I have perform seo of website, apps, products or youtube videos
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>